.List {
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex: 0 0 25%;

  &Item {
  }

  &Link:link,
  &Link:visited {
    text-decoration: none;
    color: var(--very-dark-blue);
    font-family: inherit;
    font-weight: 400;
    font-size: 1.6rem;
    letter-spacing: 0.2rem;
  }

  &Link:hover,
  &Link:active {
    text-decoration: none;
    color: var(--soft-red);
  }
}
