.List {
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex: 0 0 25%;

  &Item {
  }

  &Link {
    &:link,
    &:visited {
      text-decoration: none;
      font-family: inherit;
      font-weight: 400;
      font-size: 1.6rem;
      letter-spacing: 0.2rem;
    }

    &dark:link,
    &dark:visited {
      color: var(--very-dark-blue);
    }

    &light:link,
    &light:visited {
      color: #ffffff;
    }
  }

  &Link:hover,
  &Link:active {
    text-decoration: none;
    color: var(--soft-red);
  }
}
