@import '../../variables';

.List {
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex: 0 0 30%;

  @include respond(phone) {
    flex-flow: column;
    margin-top: 10rem;
  }

  &Item {
    &:not(:last-child) {
      @include respond(phone) {
        margin-bottom: 5rem;
      }
    }
  }

  &Link {
    &:link,
    &:visited {
      text-decoration: none;
      font-family: inherit;
      font-weight: 400;
      font-size: 1.6rem;
      letter-spacing: 0.2rem;
      text-transform: uppercase;

      @include respond(phone) {
        font-size: 3.2rem;
        letter-spacing: 0.4rem;
      }
    }

    &dark:link,
    &dark:visited {
      color: var(--very-dark-blue);
    }

    &light:link,
    &light:visited {
      color: #f6f6f6;
    }
  }

  &Link:hover,
  &Link:active {
    text-decoration: none;
    color: var(--soft-red);
  }
}
