@import '../../../../variables';

.Feature {
  margin-bottom: 15rem;

  &TabBtn {
    display: flex;
    margin: 0 auto;
    width: 65%;
    margin-bottom: 5rem;

    @include respond(phone) {
      flex-flow: column;
      width: 100%;
      margin-bottom: 15rem;
    }
  }

  &Btn {
    flex: 1;
    padding: 2rem;
    background-color: #ffffff;
    border: none;
    border-bottom: 1px solid var(--grayish-blue);
    font-size: inherit;
    font-family: inherit;
    font-weight: 500;
    color: var(--grayish-blue);
    cursor: pointer;

    @include respond(phone) {
      padding: 4rem;
      border-bottom: 2px solid var(--grayish-blue);
    }

    &:hover {
      color: var(--soft-red);
    }

    &.active {
      border-bottom: 2px solid var(--soft-red);
      color: var(--very-dark-blue);

      @include respond(phone) {
        border-bottom: 4px solid var(--soft-red);
      }
    }

    &:focus {
      outline: none;
    }
  }
}
